spring:
  application:
    name: CatalogService
  r2dbc:
    url: r2dbc:mariadb://localhost:3306/catalogservice
    username: leonardo
    password: toor
    pool:
      enabled: true
      max-size: 10
  cloud:
    gateway:
      routes:
      - id: order_svc
        uri: lb://order-service
        predicates:
        - Path=/order-service/**
        filters:
        - RewritePath=/order-service,/order
      - id: wallet_svc
        uri: lb://wallet-service
        predicates:
        - Path=/wallet-service/**
        filters:
        - RewritePath=/wallet-service,/wallets
      - id: warehouse_svc
        uri: lb://warehouse-service
        predicates:
        - Path=/warehouse-service/**
        filters:
        - RewritePath=/warehouse-service,/warehouses
