version: "3.9"
services:
  catalog-svc:
    image: aw2-ecommerce/catalog-svc
    container_name: catalog-svc
    build:
      dockerfile: ../../Dockerfile # relative to the build context
      context: ./catalog-service/build/libs
    env_file:
      - ./envs/catalog-svc.env.prod
    ports:
      - "8080:8080"
    networks:
      - catalog-net
      - communication-net
    depends_on:
      - catalog-db
      - kafka
#      - discovery-svc
#      - mail-svc
#      - order-svc
#    logging:
#      driver: none

  catalog-db:
    image: mysql
    container_name: catalog-db
    restart: always
    env_file:
      - ./envs/catalog-db.env
#    ports:
#      - "3306:3306"
    volumes:
      - ./volumes/catalog-db:/var/lib/mysql
    networks:
      - catalog-net
    logging:
      driver: none

  order-svc:
    image: aw2-ecommerce/order-svc
    container_name: order-svc
    build:
      dockerfile: ../Dockerfile # relative to the build context
      context: ./order-service/build
#    restart: always
    env_file:
      - ./order-service/prod.env
    ports:
      - "3000:3000"
    networks:
      - order-net
      - communication-net
    depends_on:
      - order-db
      - kafka
      - discovery-svc

  order-db:
    image: mongo
    container_name: order-db
#    restart: always
    env_file:
      - ./envs/order-db.env
#    ports:
#      - "27017:27017"
#    volumes:
#      - ./volumes/order-db:/data/db
    networks:
      - order-net
    logging:
      driver: none

  mail-svc:
    image: aw2-ecommerce/mail-svc
    container_name: mail-svc
    build:
      dockerfile: ../Dockerfile # relative to the build context
      context: ./mail-service/build
    restart: always
    env_file:
      - ./mail-service/prod.env
    networks:
      - communication-net
    depends_on:
      - kafka
      - discovery-svc

    #TOOD: continue...

  zookeeper:
    image: zookeeper
    container_name: zookeeper
#    ports:
#      - "2181:2181"
#    volumes:
#      - ./volumes/data:/data
#      - ./volumes/logs:/logs
    networks:
      - zookeeper-kafka-net
    logging:
      driver: none

  kafka:
    image: confluentinc/cp-kafka
    container_name: kafka
#    ports:
#      - "9092:9092"
    env_file:
      - ./envs/kafka.env.prod
#    volumes:
#      - ./volumes/kafka/secrets:/etc/kafka/secrets
#      - ./volumes/kafka/data:/var/lib/kafka/data
    networks:
      - zookeeper-kafka-net
      - communication-net
    depends_on:
      - zookeeper
    logging:
      driver: none

  discovery-svc:
    image: aw2-ecommerce/discovery-svc
    container_name: discovery-svc
    build:
      dockerfile: ../../Dockerfile # relative to the build context
      context: ./discovery-service/build/libs
    ports:
      - "8761:8761"
    networks:
      - communication-net
#    logging:
#      driver: none

networks:
  catalog-net:
    name: catalog-net
  order-net:
    name: order-net
  zookeeper-kafka-net:
    name: zookeeper-kafka-net
  communication-net:
    name: communication-net
