version: "3.9"

services:
  order-svc:
    image: aw2-ecommerce/order-svc
    container_name: order-svc
    build:
      dockerfile: ../Dockerfile # relative to the build context
      context: ../order-service/build
    #    restart: always
    env_file:
      - configs/order-svc.env.prod
#    ports:
#      - "3000:3000"
    networks:
      - order-net
      - communication-net
    depends_on:
      - kafka
      - kafka-connect
#      - order-db-initer
      - order-db-rs0-1
      - order-db-rs0-2
      - order-db-rs0-3
      - discovery-svc

  order-svc-cleaner:
    image: aw2-ecommerce/order-svc-cleaner
    container_name: order-svc-cleaner
    build:
     dockerfile: ../Dockerfile # relative to the build context
     context: ../order-service-cleaner/build
    #    restart: always
    env_file:
      - configs/order-svc-cleaner.env.prod
    networks:
      - order-net
    depends_on:
      - order-db-rs0-1
      - order-db-rs0-2
      - order-db-rs0-3

  order-db-keys:
    image: depop/openssl-bats
    container_name: order-db-keys
    volumes:
      - order-db-keys:/mongo-conf
    command: 'bash -c "openssl rand -base64 741 > /mongo-conf/order-db-keyfile; chmod 600 /mongo-conf/order-db-keyfile; chown 999 /mongo-conf/order-db-keyfile"'

#  order-db-initer:
#    image: aw2-ecommerce/order-db-initer
#    container_name: order-db-initer
#    build:
##      dockerfile: ../Dockerfile # relative to the build context
#      context: ../order-db-initer
#    #    restart: always
#    env_file:
#      - configs/order-db-initer.env.prod
#    networks:
#      - order-net
#    depends_on:
#      - order-db-rs0-1
#      - order-db-rs0-2
#      - order-db-rs0-3

  order-db-rs0-1:
    image: "mongo:5.0.2"
    container_name: order-db-rs0-1
    #    restart: always
    env_file:
      - configs/order-db.env.prod
    #    ports:
    #      - "27017:27017"
    volumes:
      - order-db-rs0-1-data:/data/db
      - order-db-keys:/opt/keyfile
    command: --keyFile /opt/keyfile/order-db-keyfile --replSet rs0 --oplogSize 1024
    networks:
      - order-net
      - kafka-net
    depends_on:
      - order-db-keys

  order-db-rs0-2:
    image: "mongo:5.0.2"
    container_name: order-db-rs0-2
    #    restart: always
    env_file:
      - configs/order-db.env.prod
    #    ports:
    #      - "27018:27017"
    volumes:
      - order-db-rs0-2-data:/data/db
      - order-db-keys:/opt/keyfile
    command: --keyFile /opt/keyfile/order-db-keyfile --replSet rs0 --oplogSize 128
    networks:
      - order-net
      - kafka-net
    depends_on:
      - order-db-keys

  order-db-rs0-3:
    image: "mongo:5.0.2"
    container_name: order-db-rs0-3
    #    restart: always
    env_file:
      - configs/order-db.env.prod
    #    ports:
    #      - "27019:27017"
    volumes:
      - order-db-rs0-3-data:/data/db
      - order-db-keys:/opt/keyfile
    command: --keyFile /opt/keyfile/order-db-keyfile --replSet rs0 --oplogSize 128
    networks:
      - order-net
      - kafka-net
    depends_on:
      - order-db-keys